extends layout

block content
	#map-canvas
	script(type="text/javascript").
		var user = !{JSON.stringify(user)};
		var dish = !{JSON.stringify(dish)};
	script(type="text/javascript" src="/javascripts/jquery-2.1.3.min.js")
	script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4P8Z9X5Lvge5Yr4nARDEFX3tVd0GA6pU")
	script(type="text/javascript" src="/javascripts/Plot.js")